body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

#navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#navbar {
  width: calc(100% - 60px);
  padding: 20px 20px;
  background-color: #1f1f1f;
  border-radius: 30px;
  text-align: center;
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 999;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block; 
}

#navbar ul li {
  display: inline-block; 
  margin: 0 10px;
  transition: transform 0.3s ease;
}

#navbar img {
  height: 40px;
  margin-right: 10px;
  display: inline-block; 
  vertical-align: middle;
}

#navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

#navbar ul li:hover {
  transform: translateY(-3px);
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0D0D0D;
}

.content {
  padding-top: 120px;
  text-align: center;
}

.animated-text-home {
  background: linear-gradient(45deg, #ffffff, #bbbbbb, #a3a3a3);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1, h3 {
  margin: 5px 0;
}

.devices-image-home {
    height: 600px;
}

.download-box {
    background-color: #121212;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-box p {
  font-size: 24px;
}

.download-page-devices {
    height: 150px;
}

.fimpid-github {
    color: aliceblue;
}

.fimpid-github:hover {
    color: aqua;
}